@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}

body {
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  /*background: linear-gradient(135deg, #cda141, #944764);*/
  /* background: rgba(0, 0, 0, 0.7)url(../images/background.jpg); */
  /*
    filter: grayscale(100%);
    background-size: cover;
    background-blend-mode: darken;
    */
}

.background-img {
  background: rgba(0, 0, 0, 0.7) url(../images/background.jpg);
  position: fixed;
  z-index: 0;
  filter: grayscale(80%);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-top: -0.1%;
}

.container {
  z-index: 1;
  max-width: 1200px;
  width: 100%;
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  height: 700px;
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.footer {
  font-size: 9px;
}

span {
  color: #d93e6f;
}

p {
  font-size: 12px;
  margin-bottom: 0.75rem !important;
}

.container .title::before {
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #cda141, #944764);
}

.card-header {
  padding: 0.75rem 1.25rem 0.5rem !important;
}

.fade-in {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

form .button {
  height: 45px;
  margin: 35px 0;
}

form .button input {
  height: 100%;
  width: 25%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #cda141, #944764);
}

form .button input:hover {
  background: linear-gradient(-135deg, #944764, #cda141);
}

.ui-w-40 {
  width: 100px;
  height: auto;
}

.card {
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.08);
  background-color: #ffffff90 !important;
}

.ui-product-color {
  display: inline-block;
  overflow: hidden;
  margin: 0.144em;
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 10rem;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
  vertical-align: middle;
}